.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.App-header {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: lighter;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #0d0d0d;
  height: 20px;
  width: 20px;
}

/*All the same stuff for IE*/
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #0d0d0d;
  height: 20px;
  width: 20px;
}

/* All the same stuff for Webkit */
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #0d0d0d;
  height: 20px;
  width: 20px;
}


.uk-range[orient=vertical]::-moz-range-track {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  height: 100%;
  background: #ebebeb;
  border-radius: 500px;
}


#volume-container:hover>#volume-slider {
  display: block;
}
#volume-slider:hover {
  display: block;
}

#volume-container>#volume-slider {
  display: none;
}
